.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: auto;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	min-height: 100%;
	padding: 50px 30px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.header {
	margin-bottom: 50px;
	padding-left: 3px;
}

.headerSpan {
	line-height: 1.4;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

/* Контейнер для блоков */

.fields {
	display: flex;
	flex-direction: column;
	gap: 49px;
}

/* Заголовки */

.blockTitle {
	margin-bottom: 4px;
	font-weight: 800;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
	text-transform: uppercase;
}

/* Контейнер для кнопок «Размер шрифта» */

.sizeButtons {
	display: flex;
}

/* Базовый класс для кнопки */

.sizeButton {
	width: 123px;
	height: 35px;
	padding: 5px 20px;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #000000;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

/* Hover для кнопки */

.sizeButton:hover {
	background-color: rgb(255 237 171 / 100%);
}

/* Состояние нажатия */

.sizeButton:active {
	background-color: #787878;
}

/* Отдельный класс для «активной» кнопки (выбранной) */

.sizeButtonActive {
	background-color: #ffc802;
}

/* Кнопки «Сбросить» и «Применить» внизу формы */

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 48px;
}
